/* GLOBALS */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    background-color: rgb(241, 238, 238);
}

main {
    width: 70%;
}

aside {
    width: 30%;
}

/* CLASSES */

.division {
    display: flex;
}


/* HEADER */
.titulo-pagina {
    text-align: center;
    font-size: x-large;
}

/* PRIMERA FOTO */
.primera-foto {
    width: 300px;
    border-radius: 30%;
}

/* MENU */
.menu {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    margin-top: 20px;
    background-color: rgb(179, 175, 175);
}

/* MAIN pendiente */



/* ASIDE */

.imagen-millos {
    width: 100px;
}
.imagen-redes {
    width: 100px;
}



/* TABLA */

.mi-tabla {
    border-collapse: collapse;
    width: 100%;
}

.mi-tabla th,
.mi-tabla td {
    border: 1px solid black;
}

.mi-tabla th,
.mi-tabla td {
    padding: 10px;
    text-align: left;
}