/* GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --main-bgcolor: rgb(241, 238, 238);
  --second-bgcolor: #c7c7cf;
  --first-tittles: 30px;
  --tittles-size: 22px;
  --text-size: 18px;
  --bgimagecolor1: repeating-linear-gradient(rgb(192, 192, 240), white);
  --bgimagecolor2: repeating-linear-gradient(rgb(184, 184, 238), rgb(249, 216, 216));
  --main-textcolor: black;
  --second-textcolor: #16169e;
}

html,
body {
  width: 576px;
  height: 100%;
  margin: 0;
}

body,
.body-redes,
.body-contacto {
  color: var(--main-textcolor);
  background-color: var(--second-bgcolor);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header,
main,
aside,
footer,
.body-contacto,
.body-redes {
  background-image: var(--bgimagecolor1);
}

main {
  width: 100%;
}

aside {
  width: 100%;
  height: auto;
  display: block;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
aside img {
  width: 100px;
}

.imagen-millos{
  width: 50px;
}

/* GENERAL */

.primertitulo {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--first-tittles);
}

.titulos {
  text-align: center;
  text-transform: uppercase;
  border: 1px dotted rgb(36, 36, 170);
  font-size: var(--tittles-size);
  font-family: "Emilys Candy", serif;
}

.textos-mainpage {
  font-size: var(--text-size);
  font-family: "Playfair Display", serif;
  line-height: 1.5;
}

/* HEADER */
.titulo-pagina {
  text-align: center;
  font-size: 22px;
  background-image: linear-gradient(rgb(226, 226, 231), rgb(120, 120, 233), white);
  padding-bottom: 15px;
}

/* PRIMERA FOTO */
.primera-foto {
  width: 200px;
  border-radius: 40%;
}
/* SEGUNDA FOTO */
.tengo-hijos img {
  border-radius: 40%;
  height: auto;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  background-image: linear-gradient(rgb(135, 135, 177), rgb(247, 246, 252));
  justify-content: space-around;
}

/* MAIN */

.quien-soy,
.de-donde,
.mi-pasion,
.audio-fav,
.tengo-hijos,
.mi-futuro,
.cancion-fav,
.video-fav,
.comida-fav,
.hobbies,
.mis-estudios {
  padding: 15px;
  text-align: center;
  border-top: 20px;
  border-bottom: 20px;
}

/* VIDEO FAVORITO */
.video-fav video {
  width:50%;
  height: auto;
  border-radius: 10px;
}

/* Listas */
.listas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-left: 0;
  list-style-position: inside;
}

/* Cancion fav*/
.cancion-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.cancion-fav iframe {
  max-width: 100%;
  border: none;
}


/* TABLAS */
.mi-tabla {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(214, 226, 242);
}

.mi-tabla th,
.mi-tabla td {
  border: 1px solid black;
  padding: 8px;
  font-size: 0.9em;
}

.mi-tabla th {
  background-color: white;
}

/* FOOTER */
.footer,
.footer-redes,
.footer-contacto {
  background-image: linear-gradient(rgb(135, 135, 177), rgb(247, 246, 252));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  
}

/* REDES */

.body-redes {
  margin: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto;
  grid-template-areas:
    "encabezado"
    "instagram"
    "tiktok"
    "github"
    "linkedin"
    "footer-redes";
}


.encabezado {
  grid-area: encabezado;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(rgb(192, 192, 240), white);
  padding: 20px;
  text-align: center;
}

.instagram,
.tiktok,
.github,
.linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: repeating-linear-gradient(rgb(192, 192, 240), white);
  padding: 10px;
  
}

.github {
  grid-area: github;
  padding: 40px;
  gap: 10px;
}

.linkedin {
  grid-area: linkedin;
}

.instagram {
  grid-area: instagram;
}

.tiktok {
  grid-area: tiktok;
}

.footer-redes {
  grid-area: footer-redes;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  background-image: repeating-linear-gradient(rgb(192, 192, 240), white);
  flex-direction: column;
}

/* GRID CONTACTAME HTML */

.body-contacto {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-contacto,
.main-contacto,
.footer-contacto,
.labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  padding: 15px;
  background-image: repeating-linear-gradient(rgb(192, 192, 240), white);
}

.labels {
  gap: 5px;
}


